<form method="POST" action="/createProduct">


Enter a title <input type="text" name="title" required="required"> <br>
Enter a price <input type="number" name="price" step="any" required="required"> <br>
Enter an inventory count <input type="number"  name="inventory" required="required"> <br>


<button type="submit" > Submit </button>


</form>

